/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-image: url("bg.png");
}


h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
    margin-bottom: 1rem;
}



/*header section*/

 .header {
	 text-align: center;
	 background-color: rgb(31, 121, 148);
	 padding: 1.5rem 1rem .5rem 1rem;
 }

 .name-info {
	 max-width: 100%;
	 display: inline-block;
	 text-align: left;
	 color: whitesmoke;
	 font-family: 'Anton', sans-serif;
	 font-size: 1.7rem;
	 letter-spacing: .1rem;
 }

.prof {
	font-size: 1.1rem;
	padding-top: .4rem;
}

 .logo {
	 max-width: 100%;
	 max-height: 100%;
	 padding-top: .5rem;
 }

 /*footer

 .footer {
	 text-align: center;
	 background-color: rgb(31, 121, 148);
	 padding-top: 1rem;
	 padding-bottom: 1rem;
	 font-family: 'Oswald', sans-serif;
 }

 .footer a, .footer span {
	 color: whitesmoke;
 }

 .line {
	 width: .1rem;
	 background-color: whitesmoke;
	 height: 1rem;
	 display: inline-block;
 }

 */

 /*rotated button section in header*/



 .menu-btn {
	cursor: pointer;
	display: block;
	max-width: 13%;
	text-decoration: none;
	z-index: 1;
 }

 .btn-line1, .btn-line2, .btn-line3 {
	 width: 2.8rem;
	 height: .3rem;
	 background-color: whitesmoke;
	 margin: .375rem;
	 transition: 0.4s;
 }

.change .btn-line1 {
	-webkit-transform: rotate(-45deg) translate(-9px, .375rem) ;
	transform: rotate(-45deg) translate(-.5625rem, .375rem) ;
  }

  .change .btn-line2 {
	opacity: 0;
  }
  
  .change .btn-line3 {
	-webkit-transform: rotate(45deg) translate(-0.5rem, -0.5rem) ;
	transform: rotate(45deg) translate(-0.5rem, -0.5rem);
  }

  /*dropdown menu*/


  .dropdown-content a {
	  display: block;
	  font-size: 1.6rem;
	  color: whitesmoke;
	  font-family: 'Anton', sans-serif;
	  text-decoration: none;
	  padding: .5rem;
  }

  .dropdown-content a:active {
	  background-color: rgba(245, 245, 245, 0.24);
	  
  }

  .dropdown-content {
	  text-align: center;
	  width: 100%;
	  display: none;
	  z-index: 2;
	  background-color: rgb(31, 121, 148);
  }


  /*main site article*/

  .wrapped-main, .contact-container {
	  text-align: center;
	  padding: 2rem;
  }

  .wrapped-main h2, .wrapped-skills h2, .contact-container h2 {
	font-family: 'Anton', sans-serif;
	margin-bottom: 2rem;
	margin-top: 1rem;
	font-size: 2rem;
	color:  rgb(31, 121, 148);
	line-height: 2.25rem;
  }

  .wrapped-main p {
	font-family: 'Oswald', sans-serif;
	text-align: justify;
	font-size: 1.2rem;
	margin-bottom: 3rem;
	color:  rgb(31, 121, 148);
	line-height: 2.25rem;
  }


/*contact*/

#facebook, #insta, #linkedin, #itch {
	color: rgb(31, 121, 148);
	transform: scale(2);
	margin: 1rem
}


.contact-container h3 {
	font-family: 'Anton', sans-serif;
	margin-bottom: 2rem;
	margin-top: 1rem;
	font-size: 1.5rem;
	color:  rgb(31, 121, 148);
	line-height: 2rem;
}

.contact-container p {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	color:  rgb(31, 121, 148);
	line-height: 2.25rem;
	
  }

  .contact-container i {
	color: rgb(31, 121, 148);
	transform: scale(2);
	padding-right: .5rem;
  }



/*javascript*/

.show {display:block;}


@media (min-width: 1024px) {

	.wrapped-main p {
		text-align: center;
		padding-left: 20rem;
		padding-right: 20rem;
	}

	#facebook:hover, #insta:hover, #linkedin:hover, #itch:hover {
		transform: scale(2.5);
		transition: all .2s ease-in-out;
	}
	.logo {
		max-width: 25%;
		max-height: 25%;
		padding: .5rem;
	}

}